.editor-toolbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
}

.left-side {
  background-color: transparent;
}

.right-side {
  background-color: transparent;
}

.editor-toolbar .button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 8px 8px 4px;
}

.editor-toolbar .button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
